spring:
  application:
    name: gateway-service

  config:
    import: optional:configserver:http://localhost:8888

  r2dbc:
    url: r2dbc:pool:postgresql://localhost:5434/StudySolution
    username: StudySolution
    password: StudySolution
  data:
    r2dbc:
      repositories:
        enabled: true

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_AUTH_CLIENT_ID}
            client-secret: ${GITHUB_AUTH_CLIENT_SECRET}
          google:
            client-id: ${GOOGLE_AUTH_CLIENT_ID}
            client-secret: ${GOOGLE_AUTH_CLIENT_SECRET}
          facebook:
            client-id: ${FACEBOOK_AUTH_CLIENT_ID}
            client-secret: ${FACEBOOK_AUTH_CLIENT_SECRET}
          apple:
            client-id: ${APPLE_AUTH_CLIENT_ID}
            client-secret: ${APPLE_AUTH_CLIENT_SECRET}
            team-id: ${APPLE_AUTH_TEAM_ID}
            key-id: ${APPLE_AUTH_KEY_ID}
            key-path: ${APPLE_AUTH_KEY_PATH}


jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: ${JWT_ACCESS_TOKEN_EXPIRATION}  # 1 hour in milliseconds
  refresh-token-expiration: ${JWT_REFERESH_TOKEN_EXPIRATION}  # 1 week in milliseconds

# Authentication Configuration
auth:
  white-list-urls: /api/v1/auth/login, /oauth2/**, /login/oauth2/**,/api/v1/auth/register, /api/v1/auth/refresh, /actuator/**, /api/public/**

# Custom OAuth2 application properties
app:
  oauth2:
    # Common redirect URI for all providers (this should match your frontend URL that handles the OAuth response)
    redirect-uri: ${BASE_URL:http://localhost:8091}/login/oauth2/code/{registrationId}
    # Success redirect URL (frontend page that shows login success)
    redirect-success-url: ${OAUTH2_SUCCESS_URL:http://localhost:3000/oauth2/callback}